{%extends "base.html"%} {%block custom-css%}
<link href="/static/select2/select2.css" rel="stylesheet" />
<style>
.left-content{
  width:350px;
  float:left;
}
#node-list{
height: 500px;
overflow-y:auto; 
}
.right-content{
	float:left;
}
</style>
{%endblock%} {%block body%}
<div class="left-content">
	<div class="well">
	
  <div class="form-group" id="date-start"  >
    <label for="date-start-input">起始时间</label>
    <input type="text" class="form-control input-sm" style="display: inline;width:94%" id="date-start-input" placeholder="选择日期">
    <span class="add-on glyphicon glyphicon-calendar"></span>
  </div>

  <div class="form-group has-feedback" id="date-end" >
  <label for="date-end-input">结束时间</label>
    <input type="text" class="form-control input-sm" style="display: inline;width:94%" id="date-end-input" placeholder="选择日期">
    <span class="add-on glyphicon glyphicon-calendar"></span>
  </div>
  <div class="">
    <label for="node-select">zk节点</label>
   <select id="node-select" style="width: 300px;margin-bottom: 10px" class="populate">
			{%for node in node_list%}
			<option value="{{node}}">{{node}}</option> 
		    {%endfor%}
		</select>
  </div>
  <div class="form-group has-feedback"  >
   <label for="cs-zk">自定义zk节点</label>
    <input type="text" class="form-control input-sm" style="display: inline;width:94%" id="cs-zk" placeholder="输入zk节点">
    
  </div>
  
<div class="form-group has-feedback" id="date-end" >
   <label for="zk-path">zk路径</label>
    <input type="text" class="form-control input-sm" style="display: inline;width:94%" id="zk-path" placeholder="输入zk路径">
  </div>
  <div class="form-group has-feedback" id="date-end" >
   <label for="tera-node">节点</label>
    <input type="text" class="form-control input-sm" style="display: inline;width:94%" id="tera-node" placeholder="输入节点">
    <button type="button" id="cs-query" class="btn btn-primary btn-xs">自定义查询</button>
  </div>
<div class="list-group" id="node-list">

</div>
	</div>
	
	
</div>
<div class="right-content">
	<div id="tera-io"
		style="margin-left: auto; margin-right: auto; width: 900px; height: 378px;">
	</div>
	<div id="tera-op"
		style="margin-left: auto; margin-right: auto; width: 900px; height: 378px;">
	</div>
</div>

{%endblock%} {%block custom-js%}

<script src="/static/select2/select2.js"></script>
<script src="/static/monitor/nodestat.js"></script>
<script src="/static/monitor/monitor.js"></script>
{%endblock%}
